*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.body{
  display: flex;
  align-items: flex-start;
}

.navbar {
display: flex;
flex-wrap: nowrap;
width: 100%;
background-color: orangered;
}

.navbarItems {
  display: flex;
  flex-wrap: nowrap;
}
h2 {
  color: black;
  width: 50px
}
.navbarlinks{

}

.search {
width: 500px;

}

.login {
}

.newsList{

}

.dataItem {

}

.footer {
display: flex;
}